#central-panel {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 10px;

}

body {
    background-color: #f6f8f9;
    font-family: 'Roboto', sans-serif;
    color: #434851;
}

header {
    background-color: #fff;
}

hr {
    margin-top: 0px;
    border: 2px solid #f6f8f9;
}

summary {
    font-weight: 700;
    color: #434851;
    font-size: large;
}

.details-margin {
    margin-top: 20px;
}

nav button {
    background-color: #fff;
    border: 1px solid #d0d2d3;
    border-radius: 5px;
    padding: 5px;
}

nav button:hover {
    background-color: #14aaf5;
    border: 1px solid #14aaf5;
}

.left-padding {
    padding-left: 40px;

}

.vertical-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.button-vertical-margin {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tag {
    border-radius: 20px;
    padding: 5px;
    color: #fff;
    font-size: 65%;
    margin: 5px;
}

.editorial-bg {
    background-color: #09a9ed;
}

.q1-goals-bg {
    background-color: #ab5de6;
}

.mobile-bg {
    background-color: #ff9b00;
}

.recruiting-bg {
    background-color: #2cc6ab;
}

.website-bg {
    background-color: #ec4a9d;
}

.sales-bg {
    background-color: #a3d116;
}

.checkbox {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 5px;
    padding-left: 2px;
    line-height: 13px;


}

.checked {
    color: #2cc6ab;
    border: 1px solid #2cc6ab;
}

.to-do {
    color: #ff0000;
    border: 1px solid #ff0000;
}